body {
  font-size: 14px;
  color: #333;
  background-color: #fff;
  letter-spacing: 1px;
}
.overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.4);
}
.slides-navigation .next,
.slides-navigation .prev {
  height: 47px;
  width: 47px;
  background-size: cover;
  background-repeat: no-repeat;
}
.slides-navigation a.next {
  right: 20px;
  background-image: url("../images/icons/right.png");
}

.slides-navigation a.prev {
  left: 20px;
  background-image: url("../images/icons/left.png");
}
.slides-navigation {
  z-index: 6;
}
.titleMessage {
  position: absolute;
  width: 100%;
  height: 250px;
  top: 50%;
  z-index: 5;
  text-align: center;
  margin-top: -125px;
}

.titleMessage .heading p {
  color: #fff;
  text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
  font-weight: 100;
  letter-spacing: 7px;
}

.titleMessage .heading .main {
  font-size: 40px;
}

.titleMessage .heading .sub {
  font-size: 23px;
}
.section {
  padding: 100px 0px;
}
.aboutImage {
  max-width: 100%;
}
.skillsSection,
.contactSection {
  background-color: #e74c3c;
  color: #fff;
}
.skill {
  text-align: center;
}
.chart {
  position: relative;
  width: 152px;
  height: 152px;
  text-align: center;
  display: inline-block;
}
.chart canvas {
  position: absolute;
  top: 0px;
  left: 0px;
}
.chart .percent {
  color: #000;
  line-height: 152px;
  display: inline-block;
  font-size: 35px;
}
.chart .percent:after {
  content: "%";
}
.squareItem {
  margin-top: 30px;
  position: relative;
}
.squareInnerContainer {
  position: relative;
  padding: 50px 15px 35px;
  text-align: center;
  border: 2px solid #444;
  border-top: none;
}
.squareInnerContainer:before,
.squareInnerContainer:after {
  content: "";
  position: absolute;
  top: 0px;
  width: 30%;
  border-bottom: 2px solid #444;
}
.squareInnerContainer:before {
  right: 0px;
}
.squareInnerContainer:after {
  left: 0px;
}
.squareContent h2 {
  font-size: 56px;
  margin-bottom: 10px;
  font-weight: 480;
  color: #e74c3c;
}
.squareContent h3 {
  font-size: 13px;
  font-weight: 600;
  margin: 0px;
}
.squareIcon {
  position: absolute;
  left: 50%;
  top: -30px;
  width: 40%;
  height: 60px;
  font-size: 45px;
  margin-left: -20%;
  color: #444;
}
.contactButton {
  color: #fff;
  padding: 15px 20px;
  display: inline-block;
  margin-top: 20px;
  border: 1px solid #fff;
  border-radius: 5px;
}
.contactButton:hover {
  text-decoration: none;
}
tbody td{
  font-weight: 600 !important;
  font-size: 1.2em;
}
.filter a{
  color:#bdc3d7;
  border:1px solid #dbc3d7;
  padding:10px 18px;
  display: block;
  text-decoration:none;
}
.filter li{
  display: inline-block;
  padding: 10px;
}
.filter .current{
  background-color: red;
  border:red;
  color:#fff;
}
.section .heading{
  text-align: center;
  width:100%;
  padding-bottom:15px;
}
.filter{
  text-align:center;
  width:100%
}
.items li{
  display:inline-block;
}
.ItemsContainer{
  width:100%
}
.items li img{
  width: 100%;
  -webkit-transition: all 0.2s linear,1s;
  -moz-transition: all 0.2s linear,1s;
  -o-transition: all 0.2s linear,1s;
  -ms-transition: all 0.2s linear,1s;
  -transition: all 0.2s linear,1s;
}
.items .item {
  position: relative;
  display: block;
  overflow: hidden;
}
.items .icon{
  position: absolute;
  width: 90px;
  height: 40px;
  left: 50%;
  top: 50%;
  margin: -20px auto 0 -45px;
  text-align: center;
  z-index: 3;
}
.items .icon i{
  color:#fff;
  margin-top: 10px;
  font-size: 20px;
}
.items a{
  width: 40px;
  height: 40px;
  background-color: red;
  position: relative;
  display: inline-block;

  -webkit-transition: all 0.2s linear,1s;
  -moz-transition: all 0.2s linear,1s;
  -o-transition: all 0.2s linear,1s;
  -ms-transition: all 0.2s linear,1s;
  -transition: all 0.2s linear,1s;
}
.items .item .imagesOverLay{
  width: 100%;
  height: 100% ;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0px;
  top: 0px;
  opacity: 0;
  -webkit-transition: all 0.2s linear,1s;
  -moz-transition: all 0.2s linear,1s;
  -o-transition: all 0.2s linear,1s;
  -ms-transition: all 0.2s linear,1s;
  -transition: all 0.2s linear,1s;
}
.items .item:hover .imagesOverLay{
  opacity: 1;
}
.items .openButton{
  float: left;
  left: -200px;
}
.items .projectLink{
  float: right;
  right: -200px;
}
.items .item:hover .openButton{
  left: 0px;
}
.items .item:hover .projectLink{
  right: 0px;
}
.items .item:hover img{
  -webkit-transform: scale(1.2, 1.2);
  -moz-transform: scale(1.2,1.2);
  -o-transform: scale(1.2,1.2);
  -ms-transform: scale(1.2,1.2);
  -transform: scale(1.2,1.2);
}
.items{
  padding: 0px;
}
.copyrightSection{
  background-color: #000;
  color: #fff;
  padding: 30px 5px;
}
.contactSection p{
  margin: 0px;
}
#navigation{
  background-color: #e74c3c;
  padding: 20px 10px;
  z-index: 10;
}
#navigation li{
  padding: 0px 10px;
}
#navigation li a{
  color: #fff;
}
.navbar-brand,
.navbar-brand:hover{
  color: #fff;
}
.navbar-toggler-icon{
  background: url('../images/icons/menu.png');
  background-size: 100%;
}

.loader{
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 100;
}
.loader .inner{
  width: 100%;
  height: 100%;
  background: url('../images/icons/loader.svg') center center no-repeat;
}